body {
  background: #5c74e2;
}

.title {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: white;
}

.content_wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
